<div class="slideshow-container" [style.background-color]="currentItem.backgroundColor">
    <ng-container [ngSwitch]="currentItem.type">
      <video #mediaElement *ngSwitchCase="'video'"
             autoplay muted playsinline>
        <source [src]="currentItem.url" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <img #mediaElement *ngSwitchCase="'gif'"
           [src]="currentItem.url" 
           alt="GIF">
    </ng-container>
    <button id="fullScreenBtn" aria-label="Toggle fullscreen" (click)="toggleFullscreen($event)">
        <ng-container [ngSwitch]="fullscreen">
            <svg *ngSwitchCase="false" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-maximize"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8v-2a2 2 0 0 1 2 -2h2" /><path d="M4 16v2a2 2 0 0 0 2 2h2" /><path d="M16 4h2a2 2 0 0 1 2 2v2" /><path d="M16 20h2a2 2 0 0 0 2 -2v-2" /></svg>
            <svg  *ngSwitchCase="true" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-maximize-off"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8v-2c0 -.551 .223 -1.05 .584 -1.412" /><path d="M4 16v2a2 2 0 0 0 2 2h2" /><path d="M16 4h2a2 2 0 0 1 2 2v2" /><path d="M16 20h2c.545 0 1.04 -.218 1.4 -.572" /><path d="M3 3l18 18" /></svg>
        </ng-container>
       
    </button>
  </div>